
@{
}
<br/>
<div class="border p-3 bg-white">
    <div class="d-flex justify-content-between mb-3">
        <div class="p-2">
            <p class="text-info">Listado de ordenes</p>
        </div>
    </div>
    <table class="table table-bordered table-striped pt-2" style="width: 100%;" id="tblData">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Id</th>
                <th>Nombres</th>
                <th>Telefono</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/Orden.js"></script>
}