@model ProyectoWeb.Models.VIewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        @foreach(var cat in Model.Categorias)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@cat.NombreCategoria.Replace(' ', '-')">
                @cat.NombreCategoria
            </button>
        }
        
    </div>
    <br />

    <div class="row">
        @foreach(var pro in Model.Productos)
        {
            <partial name="_ProductoCard" model="pro" />
        }
    </div>
</div>
