@model IEnumerable<ProyectoWeb.Models.TipoAplicacion>
@{
    ViewData["Title"] = "Index";
}

<h1>Tipo Aplicacion</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Nombre</td>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Nombre)</td>
            </tr>
        }
    </tbody>
</table>

