
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" asp-action="Crear">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Categorias</h2>
        </div>
    </div>

</form>
