<div class="text-center">
    <h1 class="text-info">Confirmacion</h1>
    <p>Hemos recibido tu consulta. Un miembro del equipo se contactara pronto Contigo.</p>
    <img src="/Imagenes/patio.jpg" width="80%"/>
</div>