@model ProyectoWeb.Models.Venta
<div class="text-center">
    @if(Model != null)
    {
        <h1 class="text-info"> Venta Creada</h1>
        <p>Venta @Model.Id Creado Exitosamente!</p>
    }
    else
    {
        <h1 class="text-info">Confirmacion</h1>
        <p>Hemos recibido tu consulta. Un miembro del equipo se contactara pronto Contigo.</p>
    }
    
    <img src="/Imagenes/patio.jpg" width="80%"/>
</div>